
.start{
    border: 3px solid #034acc;
    border-radius: 20px;
    width:900px;
    height:400px;
    margin: auto;
    background-color: #f0f3ff;
}
#introduction{
    font-family: swear-display, serif;
    font-weight: 400;
    font-size: 100px;
    font-style: italic;
    text-align: center;
    margin:auto;
}

#about{
    color:#034acc;
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 50px;
}
#me{
    border-radius: 20px;
    

}
.bodyinfo{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    margin:auto;
    grid-gap:20px;
    border-radius: 20px;
    border: 3px solid #034acc;
    padding:40px;
background-color: #f0f3ff;}
    
#aboutbody{
margin:auto;
}
#introduction2{
    font-family: swear-display, serif;
    font-weight: 400;
    font-size: 75px;
    font-style: italic;
    text-align: center;
    margin:auto;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 200px 200px;
    margin:auto;
    grid-gap:20px;

}


.container div:nth-child(1), div:nth-child(3), div:nth-child(5) {
    background-color: rgb(136, 136, 162);
    border: 5px solid rgb(16, 13, 97);
    border-radius: 20px;


}

.container div:nth-child(2), div:nth-child(4), div:nth-child(6){
    background-color: rgb(200, 200, 236);
    border: 5px solid rgb(16, 13, 97);
    border-radius: 20px;
}

.emailboxes{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 100px;
    grid-gap:20px;
}
.emailme{
    width:100px;
    background-color: rgb(16, 13, 97);

}